.modal {
  position: fixed;
  background-color: white;
  box-sizing: border-box;
  top: 15%;
  left: 36%;
  width: 28%;
  display: none;
  min-height: 200px;
  z-index: 100;
}

.closeButton {
  width: auto;
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  color: #c0c0c0;
  font-size: 38px;
  cursor: pointer;
}

.closeButton:hover {
  transform: scale(1.1, 1.1);
}

.modalContent {
  padding: 40px 35px 30px;
}

.addUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addUserInput {
  width: 220px;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 15px;
  outline: 0;
}

.addUserButton {
  width: 160px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  background: #252525;
  color: #fff;
  font-weight: bold;
  border: 1px solid #252525;
}

.addUserButton:hover {
  color: #252525;
  background-color: #fff;
}

.open {
  display: block;
}

.close {
  display: none;
}

.passwordContainer {
  position: relative;
}

.showPassword {
  position: absolute;
  top: 10px;
  right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  cursor: pointer;
  color: rgb(185, 184, 184);
}

.showPasswordImg {
  width: 15px;
  height: 15px;
}