.tasksBlock {
  width: 50%;
  margin: 10px auto;
}

.nonEditingBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxBlock {
  display: flex;
  align-items: center;
}

.editImg:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.deleteImg:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: #8bc34a;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.taskForm {
  width: 290px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 5px 0 5px 10px;
}

.addInput {
  width: 200px;
  outline: 0;
  padding-left: 15px;
}

.addButton {
  height: 55px;
}

.task {
  margin: 0;
}
