.tasksBlock {
  width: 50%;
  margin: 0 auto;
}

.nonEditingBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxBlock {
  display: flex;
}

.editImg:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.deleteImg:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: #8bc34a;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskForm {
  width: 290px;
  height: 40px;
  display: flex;
  margin: 5px 0 5px 10px;
}

.addInput {
  width: 200px;
  outline: 0;
  padding-left: 15px;
}

.addButton {
  width: 90px;
  border: none;
  cursor: pointer;
  background: #3dd15e;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  outline: 0;
}

.addButton:hover {
  background: #2e762d;
}
