.usersContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.userInfo {
  padding: 0 10px;
  margin-bottom: 10px;
  color: #252525;
  border-bottom: 1px solid #252525;
  display: flex;
  justify-content: space-between;
  align-items: center;
}