.home {
  min-height: 620px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3e4c9c;
}

.title {
  font-size: 75px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
}

.titleMod {
  padding-top: 0;
}

.subTitle {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.formContainer {
  width: 60%;
  margin: 30px auto;
}

.taskForm {
  width: 290px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.addButton {
  width: 90px;
  height: 55px;
}

.selectBlock {
  width: 55%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.taskSelect {
  width: 213px;
  height: 28px;
  padding-left: 12px;
}

.skipButtonsContainer {
  width: 250px;
  height: 30px;
  margin: 40px auto;
  position: relative;  
}

.prev {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  width: 100px;
  height: 35px;
  cursor: pointer;
  color: #252525;
  font-weight: bold;
  outline: 0;
}

.next {
  position: absolute;
  right: 0;
  text-transform: uppercase;
  width: 100px;
  height: 35px;
  cursor: pointer;
  color: #252525;
  font-weight: bold;
  outline: 0;
}

.prev:hover {
  transform: scale(1.1, 1.1);
}

.next:hover {
  transform: scale(1.1, 1.1);
}
