.home {
  min-height: 520px;
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
}

.title {
  font-size: 75px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
}

.subTitle {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.underline:hover {
  opacity: .5;
}
