.header {
  width: 100%;
  min-height: 80px;
  background: #252525;
}

.subContainer {
  display: flex;
  justify-content: space-between;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
}

.addUserButton {
  height: 25px;
  margin-top: 8px;
  cursor: pointer;
  text-transform: uppercase;
  background: none;
  color: #fff;
	font-weight: bold;
	border: none;
	outline: 0;
}

.homeButton {
  font-size: 20px;
  margin-right: 30px;
}

.addUserButton:hover {
  opacity: .5;
}
