.header {
  width: 100%;
  min-height: 80px;
  background: #252525;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
}

.addUserButton {
  height: 25px;
  margin-top: 8px;
  cursor: pointer;
  text-transform: uppercase;
  background: none;
  color: #fff;
	font-weight: bold;
	border: none;
	outline: 0;
}

.addUserButton:hover {
  opacity: .5;
}
